<form>
  <div>
    <input type="text" name="mail" #dest>
    <label for="mail">to</label>
  </div>
  <div>
    <input type="text" name="oggetto" #ogg>
    <label for="oggetto">oggetto</label>
  </div>
  <div>
    <input type="text" name="corp" #corpo>
    <label for="corp">corpo</label>
  </div>
  
  <div>
    <button (click)="newMail(dest,ogg,corpo)" class="btn btn-info" from="mail">conferma</button>
  </div>

</form>
<div class="container" *ngFor="let m of mail">
  <app-mostra    [mostra]="m"></app-mostra>
</div>